version: '3'


services:

  nsjail:
    build: nsjail

  drone:
    build: ./drone
    environment:
      - HOST=0.0.0.0
      - PORT=9000
    expose:
      - 9000
    ports:
      - "1000:9000"

  drone2:
    build: ./drone2
    environment:
      - HOST=0.0.0.0
      - PORT=9000
    expose:
      - 9000
    ports:
      - "1001:9000"

  pwn:
    build: ./pwn
    depends_on:
      - nsjail
    privileged: true
    environment:
      - HOST=0.0.0.0
      - PORT=9000
    expose:
      - 9000
    ports:
      - "1002:9000"

  aes:
    build: ./aes_ecb_text
    expose:
      - 9000
    ports:
      - "1003:9000"

  bash_injection:
    build: ./bash_injection
    expose:
      - 5000
    ports:
      - "1004:5000"

  glebokie_ukrycie:
    build: ./glebokie_ukrycie
    expose:
      - 80
    ports:
      - "1005:80"
